files:
  /etc/pki/tls/certs/server.crt:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN CERTIFICATE-----
        MIIC1TCCAb0CAQAwgY8xCzAJBgNVBAYTAlVTMRIwEAYDVQQIDAlXaXNjb25zaW4x
        EDAOBgNVBAcMB01hZGlzb24xITAfBgNVBAoMGEludGVybmV0IFdpZGdpdHMgUHR5
        IEx0ZDEOMAwGA1UEAwwFb3NjYXIxJzAlBgkqhkiG9w0BCQEWGDI3b3NjYXJqb2hu
        c29uQGdtYWlsLmNvbTCCASIwDQYJKoZIhvcNAQEBBQADggEPADCCAQoCggEBAIte
        ruY+tnVuIvifPnoqYUaO5FnH5skmkdUFy7JKIwKfX8NXhHsN8IKX6X1UTWbqVCqJ
        71qK48uCjDL0LraLKmAsAlpZJjOUoBibm+xqs8bvxThMU/6adDn6vEL0+6xU0lAU
        0ws+7zcUXHq7ETR+jvXwMN/uyE1AIxFO+IUKdnzeBTrTaUafsZPUvuq5eTJbbb1Q
        xO/ra2aJ7E8HS2btjmHjqUUwdFij4DU7tZ6F2NNqOFBtOEE1DHHfUg0f6eeu1zoL
        grQgHn2smgqqsU1wlh+itGhmBwSLYxSkYb75eI3orfjr3+ZAyI811k0BMis1VIdF
        Uo1SJxeMw/xxYPjefUMCAwEAAaAAMA0GCSqGSIb3DQEBCwUAA4IBAQBLYJV2MY5A
        OgogkgsyFzTGPO2rCOIh5JAh7MdtzQQJOe1MK00xP2lIZR6UxvdJjDgTNcOPFAtC
        BoFnbxfEs5wy/J9dBSs3UAuM9C/vgmKWq9kDYP1uwskM56ytPiB1MWPslu0h4lGL
        yCXJaZxhn2p6kj9pSVNK2qssRKwWvL65jox4p0mGAmpFiJZGXsjjsaG1ZPJV+fWc
        MRvlgBo5HnvXJBsOqgFcDXCzxOowWGbNTRvWmLub/QXwFuBxK9ddkrqVd5TlLLqm
        2nahJvKv5l+xKvQ2BP9pRda5pUTiL7YciCXkq7jPUr/hoa0Xe8JcBJGmr1Fz8ho/
        eMx8u1epZPXS
      -----END CERTIFICATE-----
      
  /etc/pki/tls/certs/server.key:
    mode: "000400"
    owner: root
    group: root
    content: |
      -----BEGIN RSA PRIVATE KEY-----
        MIIEvgIBADANBgkqhkiG9w0BAQEFAASCBKgwggSkAgEAAoIBAQCLXq7mPrZ1biL4
        nz56KmFGjuRZx+bJJpHVBcuySiMCn1/DV4R7DfCCl+l9VE1m6lQqie9aiuPLgowy
        9C62iypgLAJaWSYzlKAYm5vsarPG78U4TFP+mnQ5+rxC9PusVNJQFNMLPu83FFx6
        uxE0fo718DDf7shNQCMRTviFCnZ83gU602lGn7GT1L7quXkyW229UMTv62tmiexP
        B0tm7Y5h46lFMHRYo+A1O7WehdjTajhQbThBNQxx31INH+nnrtc6C4K0IB59rJoK
        qrFNcJYforRoZgcEi2MUpGG++XiN6K3469/mQMiPNdZNATIrNVSHRVKNUicXjMP8
        cWD43n1DAgMBAAECggEABIG0F7xNzul+aZoco+Hci2Xx4Su81rxPv7R6rCU7Kvzx
        IWWIryhgPDJu8zjxCwCAzQjwztvqFpnK45e2lJVWpXPgdgBAyZVnJ+SNDwDUSpaH
        3Hr7X4kQp3joJYu7QUAgHN7PhDzHJEZp4L4aOR+IJLb20NO6PmU+8D+LFO8MFDWK
        SKxmr6fD8ScNhgj+A3uSAK1w+HAYZq9iQau7Z9rmTK1l2v5qaKBNaiqcqfM60vmx
        aUfDJsYpcdKMYYBrppbAgNy9yab1g5lUYvMyEK3UvoR2fjDYWB3S56cUF+7GOu5x
        a3RnBJ6G15hoQ8PpKQVTus4IfbOBbKlGD/0GwuYwAQKBgQDBuv8T6Ifn1lBZayjV
        UH/x+l+L5Vo3TbeKp2eq4LNswh13X588ZuXySgTvDdg1kejUK3Allx8qgy3i4oGP
        pHVZScKwiQSoj4ZrBHq+mj4+1HpNSxFFFHRivURxqxU1+VKf+hncvEwKzTDpSYvL
        GJH0uZvJQzvZzt4U2C1cSxXuAQKBgQC4KqeqmPDLRbVDWXmJieqreMosozoHf/aB
        /52pLNimpvZOQvxR3O061gvpeyPtsUF3HQTZPl3BqAzIdL3QksJY+NTrS650XWzU
        V4MhGjpJbpNbri2aGkDFgJgFEkn0Sf7FMHdzoFjUNkV/mI2k6BseEnNPPZ71zenJ
        86tI0bczQwKBgQCjct6U8GIBoxqlZrjLyKA6CzCjujy0XjiVngnj7LLU9q2fsqiJ
        cJNfKT4iZr7c657Rq1hyDp934bdMLih7hZiQXaAKC4BHqtgQ4HWi7EXKAsCxB72p
        V8meKOtfL6W0pQcl+//n8WIC1v4GRUvRbYhvPk4Gr1gGuvc6BO24aY02AQKBgHSK
        iY9rOPVpJ0t3U3G11MqtpUKaCB6220doelyUBIVxImxj90fWhki1KtSVGCdSBBtc
        QbU3whzKO0yek39pX5Lt488CFWONu1CkEFbiQgA1+QoLLtBVzKcuuQR8jlAIgzBF
        e1GwJoYj0dbssrWoK4DcLBv44p6pr0gc6kcqbsQBAoGBAJq5HFCR9MjqocA/8jv/
        43oPMrfTUrdDWAAdNlw6Hehjm+OkGbIbEkOM5Hg81z3cg9dpc3z5Dj7v0ilXUyHE
        AuQKs8GDhkbcDdPiwbEE0vVQT0J4EtOVlruO2BodUpx8ZgDKtrUSPBImWZvBqaYd
        +05hc5YFhfo6Dx9DK2s9WGz+
      -----END RSA PRIVATE KEY-----

  /opt/elasticbeanstalk/hooks/appdeploy/post/99_start_httpd.sh:
    mode: "000755"
    owner: root
    group: root
    content: |
      #!/usr/bin/env bash
      sudo service httpd restart