/*
    Main CSS Body
*/


/*
    Classes
*/
.exerciseResults {
    margin: 10px auto;
    width: 90%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.exerciseColumn {
    display: flex;
    flex-direction: row;
    flex: 1;
    background-color: rgba(231, 255, 224, 0.7);
    border: 3px solid rgba(132, 182, 120, 0.85);
    border-radius: 25px;
    padding: 10px;
    margin: 15px;
    color: #282828;
}

.exerciseResults th {
    text-align: left;
}

.leftExerciseInstructions ul {
    min-width: 365px;
}

.leftExerciseInstructions table {
    border-collapse: collapse;
}

.leftExerciseInstructions th,
.leftExerciseInstructions td {
    border: 1px solid rgba(161, 241, 133, 0.5);
    padding: .25em;
}

.rightExerciseImage {
    margin: auto;
    max-height: 537px;
}

.rightExerciseImage img {
    margin: 10px;
}