/*
    Main CSS Body
*/


/*
    Classes
*/
.cardInfo {
    margin-top: 35px;
    padding: 0;
    list-style-type: none;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    text-align: center;
}

/*
    Healths Boxes
*/
#cardHolder {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.card {
    background-color: rgba(187, 212, 245, 0.8);
    padding:0 1.3em 0 1em;
    border-radius: 45px;
    margin: 1em;
}