/*
    Main CSS Body
*/
body {
    font-family: Arial, sans-serif;
    background-color: #f0f0f0;
    padding: 0;
    margin: 1vh 0 0;
}

h1 {
    color: #333;
}

p {
    color: #666;
}

th {
    float: left;
}

a {
    color: #70edff;
}

a:visited {
    color: #1790ff;
}

/*
    Classes
*/
.container {
    width: 80%;
    margin: 0 auto;
    padding: 20px;
}

.profilePicture {
    padding: 5px;
    border-radius: 35px;
    background-color: aliceblue;
    float: right;
    max-width: 55px;
    height: auto;
    margin-top: -8px;
}

.goBackLink {
    margin-right: auto;
    margin-left: 15%;
    color: #414141;
    text-decoration: none;
}

.goBackLink:visited {
    color: #282828;
}

.formFlexContainer {
    margin-top: 30px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.signInForm {
    text-align: left;
}

.signUpMessage {
    margin: 10px auto 0;
    text-align: left;
    align-items: end;
}

.messageContainer {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*
    Footer
    Site used for footer: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/
.page-container {
    position: relative;
    min-height: 90vh;
}

.content-wrap {
    padding-bottom: 2.5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 3.5rem;
    background-color: #a8abab;
    color: mintcream;
    padding-top: 20px;
    padding-bottom: 20px;
    margin-top: 20px;
}

.footerLinks {
    float: right;
    margin-right: 25px;
}

/*
    NavBar
*/
.navBar {
    text-align: center;
    background-color: rgba(226, 232, 232, 0.7);
    padding-top: 15px;
    padding-bottom: 15px;
}

.navBar a {
    padding: 10px;
    border-radius: 10px;
    color: #666666;
    margin: 0 5px;
}

.navBar a:hover {
    color: #ffffff;
    text-shadow: 0 0 6px rgb(0, 0, 0);
}

/*
    Healths Boxes
*/
#cardHolder {
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.card {
    background-color: rgba(184, 204, 238, 0.8);
    padding: 0 1.3em;
    border-radius: 15px;
    margin: 1em;
}

/*
    Table Results
*/
.ninjaResults {
    border-collapse: collapse;
}
.ninjaResults th, td {
    padding: 8px;
    text-align: left;
    border-bottom: 1px solid #cccbcb;
}

.tableResults {
    margin: 0 auto 30px;
    width: 80%;
}

/*
    Form Buttons
*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    background-color: rgba(192, 255, 248, 0.9);
    color: #3a3a3a;
    border: none;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: #7ff1d6;
    color: white;
}

input[type="reset"] {
    margin-left: 5px;
}

input[type="text"],
input[type="email"],
input[type="password"] {
    width: 18em;
    padding: 4px;
    border-radius: 3px;
}