/*
    Main CSS Body
*/
body {
    font-family: Arial, sans-serif;
    background-color: rgba(255, 231, 202, 0.85);
    padding: 0;
    margin: 1vh 0 0;
}

h1 {
    color: #333;
}

p {
    color: #4f4f4f;
}

a {
    color: #70edff;
}

a:visited {
    color: #1790ff;
}

/*
    Classes
*/
.slabo-27px-regular {
    font-family: "Slabo 27px", serif;
    font-weight: 400;
    font-style: normal;
}

.profilePicture {
    padding: 4px;
    border-radius: 35px;
    background-color: aliceblue;
    max-width: 55px;
    height: auto;
    margin-top: -8px;
}

.goBackLink {
    margin-right: auto;
    margin-left: 15%;
    color: #414141;
    text-decoration: none;
}

.goBackLink:visited {
    color: #282828;
}

/*
    Footer
    Site used for footer: https://www.freecodecamp.org/news/how-to-keep-your-footer-where-it-belongs-59c6aa05c59c/
*/
.page-container {
    position: relative;
    min-height: 100vh;
}

.content-wrap {
    padding-bottom: 30vh;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(224, 93, 4, 0.9);
    padding-top: 20px;
    padding-bottom: 20px;
    margin: 10vh 0 0;
}

.footerLinks {
    display: flex;
    flex-direction: row-reverse;
    margin-right: 25px;
}

.columDisplay {
    display: flex;
}

.flexBoxRow {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.flexBoxRow img {
    margin-left: 8px;
    width: 35px;
}

.iconPicture {
    width: 35px;
    margin-right: 8px;
}

footer a {
    color: #282828;
}

footer a:visited {
    color: #2a2a2a;
}

/*
    Page Header
*/
.pageTop {
    display: flex;
    justify-content: space-between;
}

.pageTop a {
    text-decoration: none;
}

.reverseRow {
    display: flex;
    flex-direction: column;
    align-items: end;
    align-content: center;
    justify-content: space-between;
}

.pageTopFlewCol {
    display: flex;
    flex-direction: row;
    align-content: end;
    margin-left: 8px;
    margin-right: .25em;
}

.pageTopFlewCol img {
    max-height: 300px;

}

.accountMessage {
    display: flex;
    align-items: center;
    margin-right: 6px;
}

/*
    NavBar
*/
.navBar {
    background-color: rgb(180, 5, 5);
    padding-top: 15px;
    padding-bottom: 15px;
    border-radius: 15px 0 0 15px;
    width: 75vw
}

.navBar a {
    padding: 10px;
    border-radius: 10px;
    color: #dedede;
    margin: 0 5em;
    text-decoration: none;
}

.navBar a:hover {
    color: #ffffff;
    text-shadow: 0 0 10px rgb(239, 239, 239);
}

.marginRight {
    margin-right: .5em;
}

.marginLeftFourEm {
    margin-left: .4em;
}

/*
    Form Buttons
*/
input[type="button"],
input[type="submit"],
input[type="reset"],
button {
    background-color: rgb(241, 87, 18);
    color: #e8e8e8;
    border: none;
    padding: 12px 26px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 15px;
}

input[type="submit"]:hover,
input[type="reset"]:hover,
button:hover {
    background-color: rgb(255, 130, 121);
    color: #000000;
}

input[type="reset"] {
    margin-left: 5px;
}

input[type="text"],
input[type="number"],
input[type="email"],
input[type="date"],
input[type="password"] {
    width: 18em;
    padding: 4px;
    border-radius: 3px;
}